.CurrentShow {
    text-align: center;
    padding-bottom: 50px;
}

.CurrentShow__title {
    margin-top: 100px;
    text-transform: uppercase;
}

.CurrentShow__img {
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
    width: 300px;
    height: 400px;
}

.CurrentShow__description {
    font-size: 24px;
    letter-spacing: 1px;
}

.CurrentShow__premiered {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.CurrentShow__genres-title {
    font-size: 24px;
}

.CurrentShow__genres {
    margin: 0 20px;
    font-size: 22px;
}