.SearchWrapper {
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
    text-transform: uppercase;
}

.SearchWrapper input {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
}

.SearchWrapper ul {
    list-style: none;
}

.SearchWrapper li {
    border: 2px solid black;
    max-width: 700px;
    margin: 10px auto 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 15px 30px 45px;
    padding: 10px;
}

.SearchWrapper li:hover {
    background: gainsboro;
}

.SearchWrapper a {
    text-decoration: none;
}