body {
    margin: 0;
}

.LayoutWrapper {
    background: deepskyblue;
    text-align: center;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.LayoutWrapper__title {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}